<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title> {% if page.title %} {{ page.title }} | {% endif %} Ruby Hacking Guide </title>
  <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>

  <div id="main" class="container">

    <header>
      <h1><a href="/">Ruby Hacking Guide</a></h1>
    </header>

    <nav role="navigation">
      <ul>
      </ul>
    </nav>

    {{ content }}

    <footer>
      本指南最初是由青木峰郎(Copyright © 2002 - 2004 Minero AOKI)完成, 英文翻译由<a href="https://github.com/ruby-hacking-guide/ruby-hacking-guide.github.com" >Vincent ISAMBART和Clifford Escobar CAOILE贡献</a>。中文翻译第一部分源自<a href="https://github.com/axgle" >axgle</a>,其余部分的我打算翻译下来，不知能走多远。本指南采用
      <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.5/">Creative Commons Attribution-NonCommercial-ShareAlike2.5 License</a>发布。
      </p>
    </footer>

  </div>
</body>
</html>
